<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in device_list %}
<h1 id="status{{i.id}}">{{i.device_id}} disconnected</h1>
<h1 id="main{{i.id}}">hey {{i.device_id}}</h1>

<script>

// var wsStart='ws://whole'
// var endpoint=wsStart + window.location.host + window.location.pathname
// var socket = new WebSocket('ws://whole')
// console.log(endpoint)


// socket.onopen =function(e){
// console.log('open',e)
// socket.send('PING')
// }


// socket.onmessage=function(e){
// console.log('message',e)
// number_one.innerHTML=e.data
// socket.send('PING')

// }


// ws = new WebSocket("ws://localhost:8000/practice/2/");
// ws.onopen = () => console.log("Connected");
// // ws.send("PING");
// ws.onmessage = (data) => (document.getElementById('main').innerHTML = data.data,ws.send("PING"));

// Create WebSocket connection.

// Connection opened


const socket{{i.id}} = new WebSocket("ws://localhost:8000/kafka/{{i.device_id}}/");
socket{{i.id}}.addEventListener("open", (event) => {
  // socket.send("Hello Server!");
document.getElementById('status{{i.id}}').innerHTML = "{{i.device_id}} connected"
});

socket{{i.id}}.addEventListener("message", (event) => {
  document.getElementById('main{{i.id}}').innerHTML = event.data
});

</script>
{% endfor %}
</body>
</html>